@charset "UTF-8";

body {
    background: #efefef;
}

/* button color */
.btn-wrap .btn-search {
    background-color: royalblue;
}
.btn-wrap .btn-add {
    background-color: yellowgreen;
}
.btn-wrap .btn-delete {
    background-color: crimson;
}
.btn-wrap .btn-modify {
    background-color: sandybrown;
}
.btn-wrap .btn-confirm {
    background-color: skyblue;
}
.btn-wrap .btn-search:hover,
.btn-wrap .btn-add:hover,
.btn-wrap .btn-delete:hover,
.btn-wrap .btn-modify:hover,
.btn-wrap .btn-confirm:hover {
    opacity: .8
}

/* 로그인 */
.login-wrap {
    width: 100%;
    height: 100vh;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.login-wrap .login-contents {
    width: 500px;
    box-sizing: border-box;
}
.login-wrap .login-contents h1 {
    padding: 70px 0 0 0;
    background: url(../images/logo.png) no-repeat center top;
    background-size: 70px;
    font-size: 26px;
}
.login-wrap .login-contents > p {
    font-size: 12px;
}
.login-wrap .login-contents button,
.login-wrap .login-contents a.join {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    padding: 3px 0;
    box-sizing: border-box;
    font-size: 14px;
    text-decoration: none;
    color:#000;
    border: 1px solid #767676;
    background-color: #efefef;
    border-radius: 3px;
}
.login-wrap .login-box {
    margin: 20px 0;
    padding: 30px 40px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.login-wrap .login-box > p {
    font-size: 14px;
}
.login-wrap .login-box .login {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.login-wrap .login-box .login label {
    width: 19%;
    text-align: left;
    font-size: 14px;
    line-height: 35px;
}
.login-wrap .login-box .login input {
    width: 80%;
    height: 35px;
    box-sizing: border-box;
    padding: 0 5px;
}
.login-wrap .login-box .login input:nth-of-type(1) {
    margin: 0 0 15px 0;
}

/* 헤더 영역 */
.header {
        background-color: #666;
}
.header .header-wrap {
    display: flex;
    width: 97%;
    margin: 0 auto;
}
.header .header-wrap h1 {
    font-size: 22px;
    width: 30%;
    background: url(../images/logo.png) no-repeat -15px center;
    background-size: 60px;
}
.header .header-wrap h1 a {
    display: inline-block;
    padding: 19px 0 0 40px;
    color: #efefef;
}
.header .header-wrap .nav {
    width: 45%;
    text-align: center;
    line-height: 28px;
}
.header .header-wrap .nav ul li a {
    color: #efefef;
    display: block;
}
.header .header-wrap .nav ul.depth-01 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.header .header-wrap .nav ul.depth-01 li {
    width: 30%;
    position: relative;
}
.header .header-wrap .nav ul.depth-01 li a {
    padding: 20px 0;
}
.header .header-wrap .nav ul.depth-01 li a:hover {
    font-weight: bold;
}
.header .header-wrap .nav ul.depth-01 li:hover ul.depth-02 {
    display: block;
    transition: all .2s;
}
.header .header-wrap .nav ul.depth-02 {
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 67px;
    border: 1px solid #777;
    background-color: #fff;
}
.header .header-wrap .nav ul.depth-02 li {
    width: inherit;
}
.header .header-wrap .nav ul.depth-02 li a {
    color: #444;
    padding: 12px 0;
}
.header .header-wrap .nav ul.depth-02 li a:hover {
    color: #7a2020;
    background-color: #eee;
    font-weight: bold;
}
.header .header-wrap .info-nav {
    width: 25%;
    padding: 20px 0;
    text-align: right;
}
.header .header-wrap .info-nav a {
    display: inline-block;
    margin: 0 0 0 10px;
    color: #efefef;
}

/* 테이블 영역 */
.main {
    width: 97%;
    margin: 0 auto;
}
.main h2 {
    margin: 30px 0 0 0;
}
.main .table-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: .9% 0;
    padding: 15px;
    background: #fff;
}
.main .table-form > div {
    display: flex;
    align-items: center;
}
.main .table-form input,
.main .table-form select {
    height: 30px;
    box-sizing: border-box;
}
.main .table-form select {
    min-width: 100px;
    margin: 0 10px 0 0;
}
.main .table-form label {
    margin: 0 10px;
}
.main .table-form label i {
    font-size: 19px;
}
.main .table-form span {
    display: inline-block;
    margin: 0 0 0 10px;
}
.main .table-form .date-wrap {
    margin: 0 10px 0 0;
}
.main .table-form .btn-wrap button {
    width: 100px;
    margin: 0 0 0 10px;
    padding: 7px 0;
    color: #fff;
    border-radius: 3px;
}
.main .table-contents {
    height: calc(100vh - 240px);
    background: #fff;
}
.main .graph-contents {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main .graph-contents section {
    width: 49.5%;
    height: calc(50vh - 128px);
    margin: 0 0 .9% 0;
    background: #fff;
}
@media screen and (max-width: 1169px) {
    .header .header-wrap,
    .main {
        width: 1134px;
    }
}

/* 팝업 */
.popup {
    display: none;
    width: 500px;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 3px;
    background: #fff;
}
.popup h3 {
    height: 60px;
    padding: 0 20px;
    font-size: 18px;
    color: #fff;
    background: #777;
    font-weight: bold;
    line-height: 60px;
}
.popup .btn-close-all {
    position: absolute;
    right: 20px;
    top: 20px;
}
.popup table {
    width: 100%;
    font-size: 14px;
}
.popup table tr {
    height: 60px;
    position: relative;
}
.popup table tr th,
.popup table tr td {
    vertical-align: middle;
    border-bottom: 1px solid #e0e0e0;
}
.popup table tr th {
    width: 30%;
    background: #ddd;
    font-weight: bold;
    color: #333;
}
.popup table tr td {
    position: relative;
}
.popup table tr td input {
    display: block;
    width: 90%;
    height: 30px;
    margin: 0 auto;
    border: 1px solid #bcbcbc;
    border-radius: 3px;
    padding: 0 5px;
    box-sizing: border-box;
}
.popup table tr td input[type="radio"] {
    display: inline-block;
    width: 5%;
    height: 15px;
    margin: 0 0 0 20px;
    cursor: pointer;
}
.popup table tr td input[id=date] {
    padding: 0 0 0 29px;
}
.popup table tr td .btn-duplicates {
    width: 90px;
    height: 31px;
    position: absolute;
    right: 12px;
    top: 14px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #999;
    color: #fff;
}
.popup table tr td i {
    position: absolute;
    left: 29px;
    top: 21px;
    font-size: 18px;
}
.popup table tr td textarea {
    display: block;
    max-width: 88%;
    min-width: 88%;
    margin: 10px auto;
    border: 1px solid #bcbcbc;
    border-radius: 3px;
    resize: vertical;
}
.popup table tr td textarea::placeholder {
    font-family: Arial;
}
.popup .btn-wrap {
    display: flex;
    justify-content: center;
}
.popup .btn-wrap button {
    display: inline-block;
    width: 100px;
    padding: 7px 0;
    font-size: 14px;
    border-radius: 3px;
    margin: 15px 10px;
    color: #fff;
}
.popup-confirm {
    width: 400px;
}
.popup-confirm p {
    text-align: center;
    padding: 35px 0;
    line-height: 30px;
}
.popup-confirm .btn-wrap button {
    width: 100px;
    border-radius: 3px;
    padding: 7px 0;
}

/* 2021.07.19 jQurey UI css 추가 */
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year {
    width: 35%;
    margin-right: 10px;
}
.ui-icon,
.ui-widget-content .ui-icon,
.ui-state-active .ui-icon,
.i-button:active .ui-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-40%);
}
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
    background-color: #666;
}

/* accordion */
.notice-wrap .notice-list li {
    border-bottom: 1px solid #d9d9d9;
}
.notice-wrap .notice-list li h3 {
    padding: 15px 25px;
    border-radius: 0;
    border: 0;
    margin: 0;
    font-size: 16px;
}
.notice-wrap .notice-list li h3 span {
    display: block;
    margin: 0 0 5px 3px;
    font-size: 14px;
}
