#main {
  width: 100%;
  height: 300px;
}

#main #gnb {
  margin-top: 30px;
  text-align: center;
  width: 1200px;
}

#main #gnb ul {
  width: 300px;
}

#main #gnb ul li {
  text-align: center;
}

#main #gnb ul li a {
  display: block;
  text-align: center;
}
