// -------------------------------------------------------
// 파일 : _variable.scss
// 정의 : variable 선언
// 작성자 : joy
// 작성일 : 2021.05.12
// --------------------------------------------------------

// *-------------------------------------------------------
//  @ _function variable
// *-------------------------------------------------------

// base font size
$base-size: 16;

// *-------------------------------------------------------
//  @ _mixin variable
// *-------------------------------------------------------

// breakpoints
$breakpoint-mobile: 390px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

