@charset 'UTF-8';

// variable
$base-size: 16;

// function
@function size ($target, $context: $base-size) {
    @return ($target / $context) * 1rem
}

.notice-title {
    display: inline-block;
    animation: bounce;
    text-align: center;
}
.sass-rem {
    font-size: size(22);
}
.css-rem {
    font-size: 22px;
}

@media screen and (max-width: 900px) {
    html {
        font-size: size(22);
    }
}
@media screen and (max-width: 360px) {
    html {
        font-size: size(11);
    }

}
