@charset 'UTF-8';

@import './variable.scss'; // 변수
@import './function.scss'; // 함수
@import './mixin.scss' // mixin

.notice-title {
    display: inline-block;
    animation: bounce;
    text-align: center;
}
.sass-rem {
    margin: rem(20px);
    font-size: rem(22px);
    border: 1px solid red;
}
.css-rem {
    margin: 20px;
    font-size: 22px;
    border: 1px solid blue;
}

@media screen and (max-width: 900px) {
    html{
        font-size: 32px;
    }
    .css-rem {
        margin: 40px;
        font-size: 44px;
    }
}

@include mobile {
    html{
        font-size: 15px;
    }
}
