/* -------------------------------------------------------
  @ _function variable
--------------------------------------------------------- */
/* -------------------------------------------------------
  @ _mixin variable
--------------------------------------------------------- */
.notice-title {
  display: inline-block;
  animation: bounce;
  text-align: center;
}

.sass-rem {
  margin: 1.25rem;
  font-size: 1.375rem;
  border: 1px solid red;
}

.css-rem {
  margin: 1.375rem;
  font-size: 1.375rem;
  border: 1px solid blue;
}
