.notice-title {
  display: inline-block;
  animation: bounce;
  text-align: center;
}

.sass-rem {
  font-size: 1.375rem;
}

.css-rem {
  font-size: 22px;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 1.375rem;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 0.6875rem;
  }
}
