*{
    margin:0;
    padding:0;
}
#bmi{
    width:500px;
    margin:100px auto;
    padding:80px 0;
    border:1px solid #cccccc;
    background-color:#fff;
    border-radius:10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    h1{
        font-size:24px;
        text-align:center;
        transform: translateY(-95px);
        background-color:#fff;
        width:170px;
        margin:0 auto;
    }
    .contents{
        text-align: center;
        label{
            display: inline-block;
            input{
                height:40px;
                border:1px solid #ccc;
                padding:0 10px;
                width:80px;
                border-radius:5px;
                box-sizing: border-box;
            }
        }
        .btn{
            border:none;
            background:none;
            outline: none;
            width:80px;
            height:40px;
            line-height: 40px;
            border-radius:5px;
            text-align:center;
            &.calc{
                background-color:#000;
                color:#fff;
                border:1px solid #000;
            }
            &.reset{
                background-color:#fff;
                color: #000;
                border:1px solid #ccc
            }
        }
    }
    .result{
        text-align:center;
    }
}