#main{
    width: 100%;
    height:300px;
    #gnb{
        margin-top: 30px;
        text-align: center;
        width: 1200px;
        ul{
            width: 300px;
            li{
                text-align: center;
                a{
                    display: block;
                    text-align: center;
                }
            }
        }
    }
}