body {   display: block;width: 100%; position: absolute;font-family: serif;}
p    {width: 400px;position: relative;margin: 10px;padding: 30px;font-family: serif;}
span {display: inline-block; margin: 30px; padding:20px;}