/* --------------------------------------------------------------------
    파일 : responsive.css
    정의 : 반응형 스타일
    작성자 : joy
 ---------------------------------------------------------------------- */
@media all and (max-width: 1024px) {
    .main-css {
        color: yellow;
        padding: 20px ;
    }
    .sub-css {
        color: pink;
        padding: 20px;
    }
    .responsive-css {
        color: purple;
        padding: 20px;
    }
}

@media all and (max-width: 768px) {
    .main-css {
        color: pink;
        padding: 30px ;
    }
    .sub-css {
        color: yellow;
        padding: 30px;
    }
    .responsive-css {
        color: blue;
        padding: 30px;
    }
}

@media all and (max-width: 360px) {

}