/* --------------------------------------------------------------------
    파일 : _mixin.scss
    정의 :  
    작성자 : joy
    작성일 : 2021.05.12
 ---------------------------------------------------------------------- */
@import './variable'; // 변수
@import './function'; // 함수

.notice-title {
    display: inline-block;
    animation: bounce;
    text-align: center;
}
.sass-rem {
    margin: rem(20px);
    font-size: rem(22px);
    border: 1px solid red;
}
.css-rem {
    margin: rem(22px);
    font-size: rem(22px);
    border: 1px solid blue;
}

