* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-size: 16px; color: #111; }

a { text-decoration: none; color: inherit; }

.circleList ul li { border: 4px solid #fff; outline: 1px solid #d9d9d9; -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); -webkit-transform-origin: 50% 350px; transform-origin: 50% 350px; position: absolute; }

.circleList ul li:nth-child(1) { -webkit-transform: rotate(12deg); transform: rotate(12deg); }

.circleList ul li:nth-child(2) { -webkit-transform: rotate(24deg); transform: rotate(24deg); }

.circleList ul li:nth-child(3) { -webkit-transform: rotate(36deg); transform: rotate(36deg); }

.circleList ul li:nth-child(4) { -webkit-transform: rotate(48deg); transform: rotate(48deg); }

.circleList ul li:nth-child(5) { -webkit-transform: rotate(60deg); transform: rotate(60deg); }

.circleList ul li:nth-child(6) { -webkit-transform: rotate(72deg); transform: rotate(72deg); }

.circleList ul li:nth-child(7) { -webkit-transform: rotate(84deg); transform: rotate(84deg); }

.circleList ul li:nth-child(8) { -webkit-transform: rotate(96deg); transform: rotate(96deg); }

.circleList ul li:nth-child(9) { -webkit-transform: rotate(108deg); transform: rotate(108deg); }

.circleList ul li:nth-child(10) { -webkit-transform: rotate(120deg); transform: rotate(120deg); }

.circleList ul li:nth-child(11) { -webkit-transform: rotate(132deg); transform: rotate(132deg); }

.circleList ul li:nth-child(12) { -webkit-transform: rotate(144deg); transform: rotate(144deg); }

.circleList ul li:nth-child(13) { -webkit-transform: rotate(156deg); transform: rotate(156deg); }

.circleList ul li:nth-child(14) { -webkit-transform: rotate(168deg); transform: rotate(168deg); }

.circleList ul li:nth-child(15) { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.circleList ul li:nth-child(16) { -webkit-transform: rotate(192deg); transform: rotate(192deg); }

.circleList ul li:nth-child(17) { -webkit-transform: rotate(204deg); transform: rotate(204deg); }

.circleList ul li:nth-child(18) { -webkit-transform: rotate(216deg); transform: rotate(216deg); }

.circleList ul li:nth-child(19) { -webkit-transform: rotate(228deg); transform: rotate(228deg); }

.circleList ul li:nth-child(20) { -webkit-transform: rotate(240deg); transform: rotate(240deg); }

.circleList ul li:nth-child(21) { -webkit-transform: rotate(252deg); transform: rotate(252deg); }

.circleList ul li:nth-child(22) { -webkit-transform: rotate(264deg); transform: rotate(264deg); }

.circleList ul li:nth-child(23) { -webkit-transform: rotate(276deg); transform: rotate(276deg); }

.circleList ul li:nth-child(24) { -webkit-transform: rotate(288deg); transform: rotate(288deg); }

.circleList ul li:nth-child(25) { -webkit-transform: rotate(300deg); transform: rotate(300deg); }

.circleList ul li:nth-child(26) { -webkit-transform: rotate(312deg); transform: rotate(312deg); }

.circleList ul li:nth-child(27) { -webkit-transform: rotate(324deg); transform: rotate(324deg); }

.circleList ul li:nth-child(28) { -webkit-transform: rotate(336deg); transform: rotate(336deg); }

.circleList ul li:nth-child(29) { -webkit-transform: rotate(348deg); transform: rotate(348deg); }

.circleList ul li:nth-child(30) { -webkit-transform: rotate(360deg); transform: rotate(360deg); }

.circleList ul li img { width: 50px; vertical-align: top; }
